* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}


.grid-wrapper {
  height: 800px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin-top: 0px;
  color: white;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 4.76%;
  width: 4.76%;
}

.grid div.pacman {
  background-image: url('../images/pac_create.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.blue{
  background-color: rgb(82, 82, 255);
}

.grid_points{
  background-image: url('../images/burger.jpg');
  background-size: cover;
  /* background-color: yellow;
  border-radius: 10px; */
}

.milkshake{
  background-image: url('../images/milkshake.jpg');
  background-size: cover;
  /* background-color: yellow;
  border-radius: 10px; */
}

.scared_ghost{
  background-image: url('../images/scared_ghost.jpg');
  background-size: cover;
  /* background-color: yellow;
  border-radius: 10px; */
}

#values_box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;

}
#points_box{
  width: 200px;
  height: 50px;
  margin-left: 10px;
  border-radius: 4px ;
  border: 2px solid white;
  padding: 10px;
}

#hs_box{
  width: 200px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px ;
  border: 2px solid white;
  padding: 10px;
}

#lives_box{
  width: 200px;
  height: 50px;
  margin-left: 10px;
  border-radius: 4px ;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blinky{
  background-image: url('../images/blinky.png');
  background-size: cover;
}

.pinky{
  background-image: url('../images/pinky.png');
  background-size: cover;
}

.inky{
  background-image: url('../images/inky.png');
  background-size: cover;
}

.clyde{
  background-image: url('../images/clyde.jpg');
  background-size: cover;
}

.start_game{
  height: 800px;
  width: 500px;
  position: absolute;
  background-color: black;
}

#start_buttons_align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.start_buttons{
  width: 100px;
}

.menu_game{
  height: 800px;
  width: 500px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}

#menu_buttons_align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu_buttons{
  width: 100px;
}

.none{
  display: none;
}

.lose_life{
  height: 800px;
  width: 500px;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}

.lose_pic_align{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.lose_pic{
  width: 400px;
  height: 400px;
  background-image: url('../images/you_lose.gif');
  background-size: cover;
}

